
nav{
    align-items: center;
    justify-content: center;
}

nav .menu-item{
    color: #fff;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: 0.4s;
    align-items: center;
    justify-content: center; 
    display: -moz-box; 
}

a{
    color:inherit;
    text-decoration: none;
}

nav .menu-item.active,
nav .menu-item:hover{
    background-color: #444;
    border-bottom-color: #ff5588;
}

h1{
	color:aqua;
    text-decoration: none;
	size: 80px;
	box-sizing: var(#888);
}