.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    float: right;
    height: 90vw;
    width: 100%; 
    margin: 1 auto; 
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .loading {
    margin-top: 16px;
    color: #888;
  }
  
  .error {
    margin-top: 16px;
    color: #f00;
  }
  
  .refresh-button {
    margin-top: 16px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(1, 17, 238);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .refresh-button:hover {
    background-color: #075de7;
  }
  
  h1 {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000; 
    display:flex;
    float: right;
  }

  h2 {
    color: #ffffff;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000; 
    display:flex;
    float: right;
  }

  h3 {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000; 
    display:flex;
    float: right;
  }

  .box1{
    display: flex;
    float: left;
  }

  .box2{
    display: flex;
    float: right;
  }
  .box3{
    display: flex;
  }